.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* or absolute, depending on use case */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* high z-index to ensure it's on top of other content */
    background-color: rgba(255, 255, 255, 0.5); /* semi-transparent white background */
}
